/* === RESET === */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.6;
    background-color: #101010;
    font-family: Electrolize;
    background-image: url(Images/background\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    color: #eaeaea;
}

/* CONTAINER */
.container {
    width: 85%;
    max-width: 900px;
    margin: 30px auto;
    background-color: rgba(0,0,0,0.5);
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.6);
    overflow: hidden;
}

/* HEADER */
.header {
    background: linear-gradient(135deg, #005881, #282828);
    padding: 20px 25px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.header ul {
    margin-top: 12px;
}

.header ul li {
    display: inline-block;
    margin-right: 12px;
}

.header a {
    text-decoration: none;
    color: #f5f5f5;
    padding: 6px 10px;
    border-radius: 6px;
    transition: all 0.3s ease;
    font-weight: 500;
}

.header a:hover {
    background-color: white;
    color: #5e2bb8;
}

/* HERO */
.hero {
    height: 250px;
    background-image: url(Images/punishing.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-top: 5px solid #005881;
    border-bottom: 5px solid #282828;
}

.hero::after{
    content:"";
    position:absolute; inset:0;
    background: linear-gradient(180deg, rgba(0,0,0,0.08), rgba(6,0,12,0.45));
}


/* CONTENT */
.content {
    padding: 30px;
}

.content h2 {
    font-size: 28px;
    font-weight: 700;
    color: #00aeff;
    margin-bottom: 5px;
}

.content h3 {
    color: #00aeff;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 22px;
}

.content .penulis {
    font-size: 13px;
    margin-bottom: 20px;
    color: #aaa;
}

.content .penulis a {
    color: #00aeff;
    text-decoration: none;
}

.content .penulis a:hover {
    background-color: #ff4500;
    color: white;
    border-radius: 4px;
}

.content .sumber {
    font-size: 12px;
    margin-bottom: 2px;
    color: #aaa;
}

.content .sumber a {
    color: #00aeff;
    text-decoration: none;
}

.content .sumber a:hover {
    background-color: #ff4500;
    color: white;
    border-radius: 4px;
}

.content .sumbertambahan {
    font-size: 12px;
    margin-bottom: 0px;
    color: #aaa;    
}

.content .sumbertambahan a {
    color: #00aeff;
    text-decoration: none;
}

.content .sumbertambahan a:hover {
    background-color: #ff4500;
    color: white;
    border-radius: 3px;
}

.content p {
    margin-bottom: 18px;
    font-size: 15px;
    line-height: 1.8;
    text-align: justify;
    color: #eaeaea;
}

.content .squad1 {
    font-size: 18px;
}

.content .squadinfo1 {
    font-size: 15px;
    margin-left: 15px;
}

.content .squadlist1 {
    font-size: 15px;
    margin-left: 30px;
}

.content .squad1 p {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px
}

/* HOME */

/* Image Src */

/* IMAGE GRID */

.image-grid-first {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    text-align: left;
}

.image-grid-first figure {
    background: rgba(255,255,255,0.1);
    border-radius: 8px;
    overflow: hidden;
    backdrop-filter: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.image-grid-first figure:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(255,255,255,0.3);
}

.image-grid-first img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-bottom: 2px solid #00aeff;
}

.image-grid-first figcaption {
    margin-top: -7px;
    margin-bottom: 0px;
    font-size: 12px;
    color: white;
    padding: 10px;
}

.image-grid-second {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin: 25px 0;
    text-align: left;
}

.image-grid-second figure {
    background: rgba(255,255,255,0.1);
    border-radius: 12px;
    overflow: hidden;
    backdrop-filter: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-grid-second figure:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(255,255,255,0.3);
}

.image-grid-second img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    border-bottom: 2px solid #00aeff;
}

.image-grid-second figcaption {
    margin-top: -7px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    color: white;
    padding: 10px;
}

.image-grid-third {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    text-align: left;
    margin-bottom: 30px;
}

.image-grid-third figure {
    background: rgba(255,255,255,0.1);
    border-radius: 12px;
    overflow: hidden;
    backdrop-filter: 10px;
    transition: transform 0.3s ease, box-sahdow 0.3s ease;
}

.image-grid-third figure:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(255,255,255,0.3);
}

.image-grid-third img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-bottom: 2px solid #00aeff;
    position: relative;
}

.image-grid-third figcaption {
    margin-top: -7px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    color: white;
    padding: 10px;
}

/* FOOTER */
.footer {
    background-color: #222;
    padding: 15px;
    text-align: center;
}

.footer .copy {
    color: #ccc;
    font-size: 13px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .header .judul {
        font-size: 26px;
    }
    .hero {
        height: 200px;
    }
    .content {
        padding: 20px;
    }
}
